@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@300&family=Poppins:wght@200;400;500;600;700;900&display=swap');

// All Project Colors
:root{
    --primaryColor: hsl(14, 90%, 53%);
    --primaryColorLight: hsl(14, 96%, 91%);
    --bgColor: hsl(0, 0%, 100%); 
    --formColor: hsl(20, 42%, 87%); 
    --whiteColor: hsl(0, 0%, 100%); 
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 51%);
    --inputColor: hsl(330, 12%, 97%);
    --cardColor:     hsl(300, 3%, 94%);

    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 2rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem; 
    --smallestFontSize: 0.75rem; 
    --borderRadius: 3rem;
}    

.portfolio{
    .secContainer{
        gap: 2rem;
        .leftContent{
            .grid{
                .singlePortofolio{
                    gap: 1rem;
                    align-items: flex-start;
                    .iconDiv{
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                    .infor{
                        h4{
                            padding-bottom: 0.5rem;
                        }
                    }
                }
            }
            
        }

        .rightContent{
            margin: auto;
            display: flex;
            align-items: center;
            justify-content:center;
            img{
                margin: auto;
                max-width: 100%;
                transition: max-width 2s ease;
            }
    }
}



@media screen and (min-width: 480px) {
    .portfolio{
        .secContainer{
            .leftContent{
                .secHeading{
                    h3{
                        font-size: var(--h2FontSize);
                    }
                    p{
                        font-size: var(--normalFontSize);
                        padding: .5rem ;
                    }
                }

                .grid{
                    .singlePortofolio{
                        gap: 1.5rem;

                        .iconDiv{
                            img{
                                border-radius: 50%;
                                transition: border-radius 1.5s;
                                height: 60px;
                                width: 60px;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                -ms-border-radius: 50%;
                                -o-border-radius: 50%;
                                -webkit-transition: border-radius 1.5s;
                                -moz-transition: border-radius 1.5s;
                                -ms-transition: border-radius 1.5s;
                                -o-transition: border-radius 1.5s;
}
                        }
                    }
                }

                .infor{
                    h4{
                        padding-bottom: .5rem;
                        font-size: var(--h3FontSize);
                    }
                    p{
                        font-size: var(--normalFontSize);
                    }
                }
            }
            
            }
        }
    }
}


@media screen and (min-width: 660px){
    .portfolio{
        .secContainer{
            .leftContent{
                .secHeading{
                    h3{
                        font-size: 3rem;
                    }
                    p{
                        display: none;
                    }
                }

                .grid{
                    grid-template-columns: repeat(2, 1fr);
                    .singlePortofolio{
                        gap: 1.5rem;
                    }
                    
                    align-items: flex-start;
                }

                }
            }

            .rightContent{
                margin: auto;
                display: flex;
                align-items: center;
                justify-content:center;
                img{
                    display: none;
                }
            }
        }
    }


@media screen and (min-width: 820px) {
    .portfolio{
        .secContainer{
            .leftContent{
                .secHeading{
                    h3{
                        font-size: 3rem;
                    }
                    p{
                        display: none;
                    }
                }
    
                .grid{
                    grid-template-columns: repeat(1, 1fr);
                    .singlePortofolio{
                        gap: 1.5rem;
                    }
                }
            }
            .rightContent{
                img{
                    max-width: 100%
                };
            }   
        }
    }
}

@media screen and (min-width: 1240px) {
    .portfolio{
        .secContainer{
            gap: 3rem;

            .leftContent{
                .secHeading{
                    h3{
                        font-size: 2rem;
                    }
                    p {
                        font-size: var(--h3FontSize);
                    }
                }

                .grid{
                    gap: 2.5rem;
                    margin-top: 3rem;
                    .singlePortofolio{

                    }
                }
            }
        }
    }
    
}
